// @media (min-width: $breakpoint-m) {
//   .cards {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     gap: 16px;
//   }
//   .cards__item {
//     margin-bottom: 16px;
//   }
// }

// @media (min-width: $breakpoint-l) {
//   .cards {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//     gap: 16px;
//   }
//   .cards__item {
//     flex-basis: calc(25% - 8px);
//     width: 240px;
//     margin-bottom: 16px;
//   }
// }
@media (min-width: $breakpoint-m) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 24px;
  }
}
@media (min-width: $breakpoint-l) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 32px;
    &__item {
      margin: 0;
      width: 240px;
    }
  }
}
