.footer {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-top: 1px solid #d9fff5;
  }

  &__container > * {
    flex: 1;
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #7e7e82;
    mix-blend-mode: normal;
    opacity: 0.72;
  }
}

@media (min-width: $breakpoint-m) {
  .footer {
    &__container {
      flex-direction: row;
      padding: 32px 24px;
    }

    &__team {
      text-align: left;
    }

    &__info {
      text-align: right;
    }
  }
}

@media (min-width: $breakpoint-l) {
  .footer {
    &__container {
      flex-direction: row;
      padding: 32px;
    }
  }
}
