@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes/TTLakes-Bold.eot');
  src:
    local('TT Lakes Bold'),
    local('../fonts/TTLakes/TTLakes-Bold'),
    url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes/TTLakes-Medium.eot');
  src:
    local('TT Lakes Medium'),
    local('../fonts/TTLakes/TTLakes-Medium'),
    url('../fonts/TTLakes/TTLakes-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes/TTLakes-Regular.eot');
  src:
    local('TT Lakes Regular'),
    local('../fonts/TTLakes/TTLakes-Regular'),
    url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
