$btn-color: #ff3e79;
$btn-color--dark: darken($btn-color, 20%);
$highlight-color: #41f6d7;
$shadow-color: #d9fff5;
$bg-color: #f8f8f8;
$text-color: #1b1c21;
$btn-border-color: #b8ffec;
$btn-text-color: #7e7e82;
$divider-color: #eaeaea;
$form-color: #b5b6bc;

$breakpoint-s: 320px;
$breakpoint-s360: 360px;
$breakpoint-m: 768px;
$breakpoint-l: 1120px;
$breakpoint-xl: 1440px;
